@CHARSET "UTF-8";

#divCenter {
/* 	text-align: center; */
	margin-top: 100px;
}

#formCenter{
	margin:0 auto;
	
}

#divBorder {
	padding-top: 15px;
	padding-bottom: 15px;
	height: 64px;
}

.textSize{
		width: 55%;	
}

.alignLeft{
	text-align:left
}

.alignCenter{
	text-align:center;
}

.warmFontColor{
	font-size: 16px;
	color: red;
}

.importMsgFont{
	font-size: 16px;
	letter-spacing: 3px;
	font-weight: 900;
	
}